.sideText {
  z-index: 5;
  position: absolute;
  padding: 11.25em 8.25em;
}

.facilitiesTitle {
  margin-top: 0;
  font-size: 48px;
  margin-bottom: 0.5em;
}

.facilitiesList {
  padding: 0;
  list-style-type: none;
  li {
    display: flex;
    font-weight: 500;
    align-items: center;
    margin-bottom: 1.125em;
    > span {
      margin-right: 1.5em !important;
    }
  }
}
