@use "./variables";

.strongBlock {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}

%blockContainer {
  margin: auto;
  max-width: 1400px;
  margin-bottom: 5em;
  padding: 5em 6.25em;
}

.container_blue {
  @extend %blockContainer;
  background-color: variables.$lightBlue-background;
}

.container_white {
  @extend %blockContainer;
  background-color: white;
}

.title {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  margin-bottom: 40px;
}

.largeTitle {
  @extend .title;
  font-size: 48px;
  line-height: 58px;
}

.subTitle {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 16px;
}
