@use "../../../../../shared/styles/base";
@use "../../../../../shared/styles/components";

.partnersBlockContainer {
  @include base.flexCenter(column);
  width: 100%;
  padding: 5em 0;
  margin-bottom: 5em;
  background-color: white;
  > * {
    max-width: 1200px;
  }
  p {
    font-weight: 500;
    line-height: 1.5em;
  }
}

.small {
  font-size: 16px;
}

.partnersBrandIcons {
  width: 100%;
  display: flex;
  margin-top: 47px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
