@use "../../../../shared/styles/base";
@use "../../../../shared/styles/variables";
@use "../../../../shared/styles/components/containers";

.AskQuestionContainer {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: 30.125em;
  flex-direction: row;
  > div {
    @include base.flexCenter();
    flex-basis: 50%;
  }
}

.AskQuestionInfo {
  max-width: 30.5em;
  h1 {
    margin: 0.5em 0;
    color: variables.$dark_main;
  }
  p {
    margin: 0;
    font-weight: 400;
  }
}

.formWrapper {
  background-color: variables.$main;
}
