@use "../../../../shared/styles/base";
@use "../../../../shared/styles/variables";

.AskQuestionContainer {
    width: 100%;
    display: flex;
    margin-top: 5em;
    height: 30.125em;
    flex-direction: row;
    > div {
        @include base.flexCenter();
        flex-basis: 50%;
    }
    .left {
        background-color: white;
    }
    .right {
        background-color: #7DCDD4;
    }
}

.AskQuestionInfo {
    width: 30.5em;
    text-align: start;
    h1 {
        margin: 0.5em 0;
        font-size: 3em;
        color: variables.$darkBlue;
    }
    p {
        font-size: 1.5em;
        margin: 0;
    }
}