@use "../../../shared/styles/variables";

.comment {
  z-index: 4;
  width: 940px;
  margin: 2.5em;
  padding: 1.5em;
  border-radius: 5px;
  margin-bottom: 3.5em;
  background-color: white;
}

.commentText {
  line-height: 1.5em;
  &.short {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
  }
}

.textExpander {
  cursor: pointer;
  line-height: 1.5em;
  background-color: white;
  color: variables.$main;
  text-decoration: underline solid variables.$main 1px;
}
