.sliderContainer {
  width: 100%;
  margin: auto;
  margin-bottom: 8.375em;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.sliderContent {
  display: flex;
  flex-direction: row;
  transition: transform 1s ease;
  &.noTransition {
    transition: none;
  }
}

.sliderItem {
  opacity: 0.2;
  flex-shrink: 0;
  position: relative;
  transition: opacity 1s ease;
}

.sliderItem.current {
  opacity: 1;
}
