@use "../../../shared/styles/variables";
@use "../../../shared/styles/components";

.doctorImage {
  width: 100%;
  height: 675px;
  margin-bottom: 5em;
  position: relative;
}

.doctorName {
  @extend .title;
  margin-bottom: 0.5em;
}

.doctorExperience {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: 24px;
}

.doctorInfo {
  line-height: 1.5em;
  color: variables.$secondary;
}

.video {
  margin: auto;
  height: 788px;
  max-width: 1400px;
  position: relative;
  margin-bottom: 5em;
}