@use "../../shared/styles/components";
@use "../../shared/styles/variables";

.benefitsList {
  gap: 39px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

.benefitBlock {
  padding: 30px;
  max-width: 374px;
  border-radius: 2px;
  background-color: white;
}

.benefitName {
  margin: 0;
  font-size: 18px;
  margin-top: 1em;
  font-weight: 500;
  line-height: 1.5em;
}

.benefitDescription {
  margin: 0;
  font-size: 16px;
  margin-top: 18px;
  line-height: 1.5em;
  color: variables.$secondary;
}
