.switchersList {
  padding: 0;
  display: flex;
  margin-top: 1em;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}

.switcher {
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin-right: 1em;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.5s ease;
  background-color: #e0e0e0;
}

.active {
  background-color: black;
}
