.slider {
  width: 100%;
  transition: 0.4s;
  max-width: 1800px;
  white-space: nowrap;
}

.imageContainer {
  opacity: 17%;
  margin-right: 2em;
  display: inline-block;
}

.currentImage {
  opacity: 1;
}
