@use "../../shared/styles/base";
@use "../../shared/styles/variables";
@use "../../shared/styles/components/containers";

.commentsContainer {
  @extend .container_blue;
  padding: 0;
  display: flex;
  padding-top: 5em;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  h1 {
    margin: 0;
  }
}

.commentsSlider {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}

.iconBottom {
  align-self: flex-start;
}

.iconLeft {
  position: absolute;
  top: 0;
  left: 0;
}

.iconRight {
  position: absolute;
  top: 0;
  right: 0;
}

.nextCommentButton {
  @include base.chevron(22px, white, 6px, "right");
  border-radius: 4px;
}

.prevCommentButton {
  @include base.chevron(22px, white, 6px, "left");
  border-radius: 4px;
}
