@use "../../../../shared/styles/base";

.header {
  @include base.flexCenter();
  width: 100%;
  height: 9em;
  padding: 1em;
}

.headerMenu {
  @include base.resetButton();
  display: none;
  position: relative;
  > span {
    overflow: visible !important;
  }
}

.headerLogo {
  width: 180px;
  height: 80px;
  margin-right: 9%;
  position: relative;
}

@media screen and (max-width: 1400px) {
  .headerLogo {
    margin-right: 5%;
  }
}

@media screen and (max-width: 900px) {
  .headerLogo {
    margin-right: 5%;
  }
}

@media screen and (max-width: 750px) {
  .header {
    height: 6em;
    padding: 1em 2.5em;
  }

  .headerLogo {
    width: 140px;
    margin-right: auto;
  }

  .headerMenu {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .headerLogo {
    width: 110px;
  }
}
