@use "../../../../shared/styles/base";
@use "../../../../shared/styles/components/containers";
@use "../../../../shared/styles/components/text";

.address {
  p {
    margin: 0;
    display: inline;
    margin-left: 10px;
  }
}

.contacts {
  border-radius: 5px;
  padding: 0.5em 0.75em;
  background-color: #e7f4f2;
}

.phoneIcon {
  display: flex;
  margin-right: 12px;
  align-items: center;
}

.contactsTitle {
  display: flex;
  margin-bottom: 10px;
  strong {
    margin-bottom: 0;
  }
}

.workingHours {
  @include base.flexCenter(column);
  min-height: 5em;
  text-align: end;
  justify-content: space-between;
  b {
    width: 3.5em;
    font-weight: 500;
    margin-right: 10px;
    display: inline-block;
  }
  p {
    margin: 0;
  }
}
