@use "../../../../../shared/styles/variables";

.questionForm {
  width: 25em;
  display: flex;
  flex-direction: column;
  button,
  input {
    border: none;
    outline: none;
  }
}

.inputGroup {
  display: flex;
  margin-bottom: 1.5em;
  flex-direction: column;
  label {
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0.5em;
  }
  input {
    font-size: 16px;
    line-height: 29px;
    padding: 0.75em 1em;
    &::placeholder {
      color: variables.$secondary;
    }
  }
}

.submitButton {
  width: 12.5em;
  font-size: 16px;
  margin-top: 1em;
  font-weight: 600;
  padding: 0.75em 1.5em;
  background-color: white;
  color: variables.$lightBlue;
  border: 2px solid variables.$lightBlue;
}

.error {
  margin: 10px;
  color: #d8000c;
}
