@use "../../../../../shared/styles/variables";
@use "../../../../../shared/styles/base";
@use "../../../../../shared/styles/components/buttons";

.questionForm {
  width: 25em;
  display: flex;
  flex-direction: column;
}

.inputGroup {
  display: flex;
  margin-bottom: 1.5em;
  flex-direction: column;
  label {
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 0.5em;
  }
  input {
    @include base.resetInput();
    font-size: 16px;
    line-height: 29px;
    padding: 0.75em 1em;
    color: variables.$secondary;
  }
}

.error {
  margin: 10px;
  color: #d8000c;
}
