@use "../../../shared/styles/variables";
@use "../../../shared/styles/components";

.employeesBlock {
  gap: 2em;
  display: flex;
  flex-flow: row wrap;
}

.employeeSpecialization {
  margin: 1em 0;
  color: variables.$secondary;
}

.employeeExperience {
  font-weight: 600;
}
