@use "../../../../shared/styles/variables";
@use "../../../../shared/styles/components";

.deviceBlock {
  gap: 40px;
  display: flex;
  margin-top: 5em;
  flex-direction: row;
  &.right {
    flex-direction: row-reverse;
  }
}

.deviceDescription {
  color: variables.$secondary;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}

.deviceImage {
  width: 50%;
  height: auto;
  flex-shrink: 0;
}
