@use "../../../shared/styles/base";
@use "../../../shared/styles/variables";
@use "../../../shared/styles/components";

.doctorInfoContainer {
  @extend .container_white;
  @include base.flexCenter();
  gap: 5em;
  flex-wrap: wrap;
}

.infoBlock {
  width: 774px;
}

.doctorImage {
  width: 346px;
  height: 402px;
  position: relative;
}

.doctorName {
  @extend .title;
  margin-bottom: 0.5em;
}

.doctorExperience {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: 24px;
}

.doctorInfo {
  line-height: 1.5em;
  color: variables.$secondary;
}
