@use "../../../shared/styles/components";

.eyeGlassImage {
  float: left;
  width: 310px;
  height: 269px;
  position: relative;
  margin: 0 40px 40px 0;
}

.title {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 0.6em;
}

.text {
  line-height: 1.5em;
}

.clear {
  clear: both;
}
