@use "../../../shared/styles/components";

.eyeGlassImage {
  float: left;
  width: 310px;
  height: 269px;
  position: relative;
  margin: 0 40px 40px 0;
}

.title {
  @extend .largeTitle;
  margin-bottom: 0.5em;
}

.text {
  line-height: 1.5em;
}

.clear {
  clear: both;
}
