@use "../../shared/styles/base";
@use "../../shared/styles/variables";
@use "../../shared/styles/components";

.container {
  @include base.flexCenter();
  width: 100vw;
  height: 40em;
  margin-bottom: 5em;
  background-size: cover;
  background-position: center;
}

.pageIntroduction {
  width: 75%;
  padding: 2em;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.7);
  .icon {
    margin-right: 2em;
  }
  h1 {
    margin-bottom: 0.5em;
  }
}

.navigationLinks {
  @include base.resetList();
  display: flex;
  flex-direction: row;
}

.navigationLink {
  padding: 0.625em;
  font-weight: 500;
  line-height: 22px;
  border-radius: 2px;
  margin-right: 1.5em;
  color: variables.$darkBlue;
  background-color: variables.$lightGreen;
}
