@use "../../shared/styles/base";
@use "../../shared/styles/variables";
@use "../../shared/styles/components";

.questionBlock {
  padding: 1em;
  cursor: pointer;
  padding-right: 1.5em;
  margin-bottom: 1.5em;
  background-color: variables.$lightGreen;
  h2 {
    margin: 0;
    font-weight: 600;
  }
  &.opened {
    background-color: white;
    border: 1px solid variables.$lightBlue;
    h2 {
      font-weight: 700;
    }
  }
}

.questionBlockHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.showAnswerButton {
  @include base.arrowButton(10px, #232323, -45deg, 2px);
  transition-duration: 0.25s;
  &.active {
    transform: rotate(135deg);
  }
}

.answer {
  font-size: 18px;
  margin-top: 16px;
  line-height: 1.5em;
}
