@use "../../../shared/styles/variables";
@use "../../../shared/styles/components/containers";
@use "../../../shared/styles/components/buttons";

.wrapper {
  margin: auto;
  display: flex;
  gap: 2em 2.5em;
  flex-flow: row wrap;
}

.introductoryText {
  width: 48.5em;
  p {
    width: 95%;
    font-weight: 500;
    line-height: 1.5em;
    margin-top: 1.125em;
  }
}

.serviceBlock {
  width: 23em;
  display: flex;
  height: 308px;
  padding: 1.875em;
  flex-direction: column;
  background-color: white;
}

.serviceName {
  font-size: 20px;
  margin-top: 18px;
  font-weight: 600;
}
