.location {
    strong {
        display: block;
        margin-bottom: 10px;
    }
    .address {
        p {
            margin: 0;
            display: inline;
            margin-left: 10px;
        }
    }
}

.contacts {
    border-radius: 5px;
    padding: 0.5em 0.75em;
    background-color: #E7F4F2;
    .phone {
        display: block;
    }
}

.contactsTitle {
    display: flex;
    margin-bottom: 10px;
    strong {
        margin-left: 10px;
    }
}

.workingHours {
    b {
        width: 3.5em;
        text-align: end;
        font-weight: 500;
        margin-right: 10px;
        display: inline-block;
    }
}
