@use "../../../shared/styles/base";
@use "../../../shared/styles/variables";
@use "../../../shared/styles/components";

.characteristics {
  display: flex;
  gap: 2.5em 2.5em;
  flex-flow: row wrap;
  p {
    margin: 0;
    font-weight: 500;
    line-height: 1.5em;
  }
  > * {
    flex-basis: calc(50% - 2.5em);
  }
}

.eyeglassIcon {
  height: 230px;
  position: relative;
  border-radius: 5px;
  background-color: variables.$lightGreen;
}

.characteristicsList {
  @include base.resetList();
}

.listItem {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1.5em;
}

.ticIcon {
  margin-right: 1.5em;
}
